body {
    margin: 0;
    padding: 0;
}

.ui.table thead tr:first-child > th {
    position: sticky !important;
    top: 0;
    z-index: 2;
}

.ui.table tbody {
    font-family: 'Cutive Mono', 'Courier New', Courier, monospace !important; 
}

.follow-checkbox {
    align-items: 'center';
    margin-right: 20px;
}

.input-search {
    margin-right: 20px;
    width: 25vw;
}

.th-title {
    flex-grow: 1;
    height: 100%;
}

.options-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}